/* font-family: "HelveticaRegular"; */
@font-face {
  font-family: "HelveticaRegular";
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaBold"; */
@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/HelveticaBold/HelveticaBold.eot");
  src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaItalic"; */
@font-face {
  font-family: "HelveticaItalic";
  src: url("../fonts/HelveticaItalic/HelveticaItalic.eot");
  src: url("../fonts/HelveticaItalic/HelveticaItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaItalic/HelveticaItalic.woff") format("woff"), url("../fonts/HelveticaItalic/HelveticaItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaLight"; */
@font-face {
  font-family: "HelveticaLight";
  src: url("../fonts/HelveticaLight/HelveticaLight.eot");
  src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaBlack"; */
@font-face {
  font-family: "HelveticaBlack";
  src: url("../fonts/HelveticaBlack/HelveticaBlack.eot");
  src: url("../fonts/HelveticaBlack/HelveticaBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBlack/HelveticaBlack.woff") format("woff"), url("../fonts/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaHeavy"; */
@font-face {
  font-family: "HelveticaHeavy";
  src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot");
  src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaHeavy/HelveticaHeavy.woff") format("woff"), url("../fonts/HelveticaHeavy/HelveticaHeavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaMedium"; */
@font-face {
  font-family: "HelveticaMedium";
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot");
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"), url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaThin"; */
@font-face {
  font-family: "HelveticaThin";
  src: url("../fonts/HelveticaThin/HelveticaThin.eot");
  src: url("../fonts/HelveticaThin/HelveticaThin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaThin/HelveticaThin.woff") format("woff"), url("../fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaUltraLight"; */
@font-face {
  font-family: "HelveticaUltraLight";
  src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot");
  src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaUltraLight/HelveticaUltraLight.woff") format("woff"), url("../fonts/HelveticaUltraLight/HelveticaUltraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaBoldItalic"; */
@font-face {
  font-family: "HelveticaBoldItalic";
  src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot");
  src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.woff") format("woff"), url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaBlackItalic"; */
@font-face {
  font-family: "HelveticaBlackItalic";
  src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot");
  src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.woff") format("woff"), url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaLightItalic"; */
@font-face {
  font-family: "HelveticaLightItalic";
  src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot");
  src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLightItalic/HelveticaLightItalic.woff") format("woff"), url("../fonts/HelveticaLightItalic/HelveticaLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaMediumItalic"; */
@font-face {
  font-family: "HelveticaMediumItalic";
  src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot");
  src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.woff") format("woff"), url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaHeavyItalic"; */
@font-face {
  font-family: "HelveticaHeavyItalic";
  src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot");
  src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.woff") format("woff"), url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaThinItalic"; */
@font-face {
  font-family: "HelveticaThinItalic";
  src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot");
  src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaThinItalic/HelveticaThinItalic.woff") format("woff"), url("../fonts/HelveticaThinItalic/HelveticaThinItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaUltraLightItalic"; */
@font-face {
  font-family: "HelveticaUltraLightItalic";
  src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot");
  src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.woff") format("woff"), url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
html,
body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}
.block1 {
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  padding: 20px;
  position: relative;
}
.center1 {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  text-align: left;
}
.logo {
  margin-top: -10px;
  float: left;
}
.logo__text {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "HelveticaBold";
}
.navigation {
  margin-left: 300px;
  margin-top: -15px;
}
.navigation__nav {
  padding: 0px;
  margin: 0px;
}
.nav__link {
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.link__href {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  /*background: #4874F2;*/
  color: #ffffff;
  font-size: 12px;
  font-family: "HelveticaBold";
  cursor: pointer;
}
.media {
  float: right;
  margin-left: 10px;
  margin-top: -35px;
  margin-right: 0px;
}
.media__img {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  cursor: pointer;
}
.animation {
  position: relative;
}
.animation__hover {
  position: absolute;
  top: 55%;
  left: 0px;
}
.animation__line {
  max-width: 960px;
  width: 100%;
}
.main {
  position: absolute;
  width: 85%;
  bottom: 2px;
  left: 15%;
  display: table;
}
.main__img {
  width: 80%;
  height: auto;
}
.main__text {
  position: absolute;
  bottom: 30%;
  font-size: 18px;
  font-family: "HelveticaThin";
  color: #ffffff;
}
.main__text_color {
  color: #969aa4;
}
.block2 {
  margin-top: -4px;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 240px;
  padding: 20px;
}
.block3 {
  margin-top: 1px;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  padding: 20px;
}
.centernews {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  width: 95%;
  padding: 25px;
  text-align: center;
  border-bottom: 2px solid #42444e;
}
.centernews__img {
  width: 22%;
  display: inline-block;
  vertical-align: top;
}
.centernews__text {
  padding: 5px;
  /*background: #5249AB;*/
  font-size: 18px;
  font-family: "HelveticaThin";
  color: #b1b4c0;
  text-align: left;
  width: 60%;
  display: inline-block;
  vertical-align: top;
}
.centernews__search {
  margin-left: 20px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}
.text__color {
  color: #ffffff;
}
.text__mg {
  margin-top: 25px;
  font-size: 14px;
}
.text__mag {
  margin-top: 30px;
  font-size: 14px;
}
.search__img {
  width: 100%;
  height: auto;
}
.centertext {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  margin-top: 55px;
}
.descr__text {
  font-size: 18px;
  font-family: "HelveticaThin";
  color: #b1b4c0;
  text-align: left;
}
.color__text {
  color: #ffffff;
}
footer {
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  padding: 20px;
  margin-top: -4px;
}
.centerfooter {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
}
.logofooter__text {
  text-align: left;
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "HelveticaBold";
}
.widget {
  margin-top: 40px;
  text-align: left;
  width: 98%;
}
.widget__text {
  font-size: 12px;
  line-height: 1.833;
  font-family: "HelveticaThin";
  color: #b1b4c0;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: 63%;
}
.widget__form {
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.form__input {
  padding: 2px 35px;
  height: 38px;
  width: 220px;
  background: #16171d;
  color: #fff;
  font-size: 15px;
  font-family: "HelveticaThin";
  border-radius: 5px;
  border: 1px solid #716363;
  outline: none;
  background-image: url('../img/input-search.png');
  background-repeat: no-repeat;
  background-position: 12px;
}
.form__input:focus,
.form__input:hover {
  border: 1px solid #3145BC;
}
.form__button {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
.form__button:active {
  width: 50px;
}
.twitter {
  margin-top: 25px;
}
.twitter__button {
  padding: 15px;
  background: #2d3038;
  height: 30px;
  border-radius: 5px;
  display: block;
  text-decoration: none;
  width: 92%;
}
.twitter__copy {
  margin-top: 25px;
  font-size: 11px;
  font-family: "HelveticaThin";
  color: rgba(255, 255, 255, 0.4);
}
.img__twitter {
  display: inline-block;
  vertical-align: top;
}
.img__text {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  font-size: 14px;
  font-family: "HelveticaBold";
  color: #fff;
}
.font__text {
  font-family: "HelveticaThin";
}
/*Карусели*/
.slider {
  width: 80%;
  margin: 50px auto;
}
.slick-slide {
  margin: 0px 20px;
}
.slick-slide img {
  width: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
